.box h2 {
    writing-mode: vertical-lr;
}

.flex {
    gap: 1rem;
}

.flip-img {
    transform: scaleX(-1);
}

.smooth-scrooling {
    scroll-behavior: smooth;
}

.resize {
    overflow: auto;
    resize: both;
}

.linear-gradient {
    background: linear-gradient(to right, #d12929, #4600a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pointer-selection {
    pointer-events: none;
}

.background {
    filter: blur(40px)
}